# Enforce LF line endings for all text files
* text=auto eol=lf

# Denote binary files
*.wav binary
*.mp3 binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
*.gz binary
